* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	overflow-x: hidden;
}

body {
	/* font-family: Arial, sans-serif; */
	/* font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif; */
	font-family: 'ABeeZee', sans-serif;
	font-size: 16px;
	color: #333;
}

.header {
	/* background-color: #1E2039; */
	width: 100%;
	color: #fff;
	padding: 10px 40px;
	display: flex;
	align-items: center;
	justify-content: left;
	position: fixed;
	top: 0;
	background: rgba(56, 56, 56, 0.8);
	/* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.7); */
	backdrop-filter: blur(8.7px);
	-webkit-backdrop-filter: blur(8.7px);
	z-index: 100;
	transition: 0.5s;
}

html:not([data-scroll='top']) .header {
	background: rgb(145, 145, 145);
	backdrop-filter: blur(0px);
	-webkit-backdrop-filter: blur(0px);
}

nav ul {
	list-style: none;
	display: flex;
}

nav li {
	margin: 0 20px;
}

nav a {
	color: #fff;
	text-decoration: none;
	/* font-weight: bold; */
	transition: color 0.3s;
}

nav a:hover {
	color: yellow;
}

.hero-content h1 {
	font-size: 100px;
	margin-right: auto;
	color: #ffdd00;
}

.hero-content p {
	font-size: 30px;
	margin-right: auto;
	color: #1a1a1a;
	margin-top: 0px;
}

.name-muted {
	color: #292929;
	font-size: 40px;
}

section {
	padding: 50px 200px;
	/* margin-bottom: 50px; */
}

.navbar-brand {
	margin-right: 50px;
	color: #f1d100;
}

.hero-section {
	height: 800px;
	/* background-color: blueviolet; */
	background-image: url('img/banner.jpg');
	background-size: cover;
	background-position: center;
	padding: 30px 0px;
	position: relative;
}

.hero-wrapper {
	display: block;
	align-items: left;
	flex-direction: row;
	height: 500px;
	/* background-color: aquamarine; */
}

.hero-content {
	display: flex;
	flex-direction: column;
	max-width: 100%;
	height: 100%;
	margin: 0 auto;
	text-align: left;
	padding: 50px 100px !important;
	align-items: center;
	align-content: center;
	/* background-color: #eb173a; */
}

.about-child-section {
	height: 170px;
	position: absolute;
	bottom: 0;
	width: 100%;
	/* padding: 30px; */
	/* box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25); */
	display: flex;
}

.about-me {
	background: rgba(238, 238, 238, 0.1);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(9.2px);
	-webkit-backdrop-filter: blur(9.2px);
	color: #141414;
	padding: 30px 190px;
	width: 80%;
}

.about-me h2 {
	margin-bottom: 5px;
}

.about-right {
	background-color: #f1d100;
	width: 20%;
	color: #141414;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	text-decoration-line: none;
}

.resbtn {
	display: none;
}

.about-right p {
	text-align: center;
}

.hero-image {
	height: 500px;
	float: right;
	margin-right: 200px;
	border-radius: 50%;
}

.visimisi-section {
	background-color: #ebebeb;
}

.headquarters-section {
	background-color: #fff;
}

.visimisi-content {
	display: flex;
	flex-direction: column;
	align-items: left;
	padding: 30px 0px;
}

.visimisi-content p {
	margin-top: 10px;
}

.headquarters-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px 100px;
}

.headquarters-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 500px;
	transition: 0.2s;
}

.headquarters-item:hover {
	transform: scale(2);
	/* scale: 1.3; */
	background: rgba(51, 51, 51, 0.678);
	/* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
	backdrop-filter: blur(5.2px);
	-webkit-backdrop-filter: blur(5.2px);
	color: #fff;
}

.headquarters-image {
	width: 300px;
	height: 300px;
	border-radius: 20%;
	object-fit: cover;
	object-position: center;
	margin-bottom: 5px;
	transition: 0.2s;
	border: 1px solid rgb(199, 199, 199);
}

.headquarters-item:hover>.headquarters-image {
	width: 500px;
	height: 300px;
	border-radius: 0%;
	margin-bottom: 5px !important;
	border: 0px solid rgb(234, 23, 58);
}

.headquarters-text {
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px;
}

.message-us-section {
	background-color: #161616;
	color: #fff;
}

.message-us-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.message-us-form {
	width: 45%;
}

.message-form-field div input[type="text"] {
	width: 75%;
	padding: 8px;
	border: 1px solid #ccc;
	margin-bottom: 10px;
	line-height: 20px;
}

.col-30 {
	float: left;
	width: 30%;
	margin-bottom: 6px;
}

.col-70 {
	float: left;
	width: 70%;
	margin-bottom: 6px;
}

.btn-submit {
	background-color: #f1d100;
	border-width: 0;
	color: #1E2039;
	cursor: pointer;
	/* font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif; */
	font-size: 100%;
	font-weight: bold;
	height: 38px;
	overflow: hidden;
	padding: 0 25px;
	text-align: center;
	width: 100%;
}

.btn-submit:focus {
	box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

footer {
	background-color: #f1d100;
	color: #1E2039;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 10px 40px;
	font-weight: bold;
}

.footer-right {
	text-align: right;
}

@media screen and (max-width: 768px) {
	.header {
		color: #fff;
		padding: 10px 40px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: left;
		position: sticky;
		top: 0;
		background: rgba(56, 56, 56, 0.8);
		backdrop-filter: blur(8.7px);
		-webkit-backdrop-filter: blur(8.7px);
		z-index: 100;
		transition: 0.5s;
	}

	section {
		padding: 50px 30px;
		/* margin-bottom: 50px; */
	}

	.hero-content {
		padding: 50px 30px !important;
	}

	.hero-content h1 {
		font-size: 70px;
	}

	.name-muted {
		font-size: 40px;
	}

	.navbar-brand {
		margin-right: 0px;
	}

	.about-child-section {
		height: 170px;
		position: absolute;
		bottom: 0;
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	.about-me {
		background: rgba(238, 238, 238, 0.1);
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(9.2px);
		-webkit-backdrop-filter: blur(9.2px);
		color: #141414;
		padding: 30px 30px;
		width: 100%;
	}

	.about-right {
		display: none;
	}

	.resbtn {
		background-color: #f1d100;
		width: 70%;
		color: #141414;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 20px;
		text-decoration-line: none;
	}

	.message-us-content {
		display: flex;
		flex-direction: column;
	}

	.message-form-field div input[type="text"] {
		width: 100%;
		padding: 8px;
		border: 1px solid #ccc;
		margin-bottom: 10px;
		line-height: 20px;
	}
}